# node
node_modules
.next
dist
build

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docker
Dockerfile
docker-compose.yml

# ❗ MySQL data (КРИТИЧНО)
mysql-data
mysql-data/**
