NODE_ENV=development

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=studio
MYSQL_USER=studio_user
MYSQL_PASSWORD=studio_pass
TZ=Europe/Kyiv
DATABASE_URL=mysql://studio_user:studio_pass@studio-mysql:3306/studio