@use "sass:color";
.main-blue {
  color: #256BA7; /* або твій main-blue */
  /* Якщо треба, можна явно вказати fill */
  fill: currentColor;
}

.main-amarant {
  color: E91651;
  fill: currentColor;
}

.white {
  color: white;
  fill: currentColor;
}

.main-grey {
  color: gray;
  fill: currentColor;
}

.main-text {
  color: black;
  fill: currentColor;
}

/* Додай інші кольори за потребою */
