.main-blue {
  color: #256BA7;
  svg { fill: currentColor; }
}

.main-amarant {
  color: #E91651;
  svg { fill: currentColor; }
}

.white {
  color: white;
  svg { fill: currentColor; }
}

.main-grey {
  color: gray;
  svg { fill: currentColor; }
}

.main-text {
  color: black;
  svg { fill: currentColor; }
}