// src/styles/_mixins.scss
@use "sass:map";

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px
);

@mixin min-media($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}
