
$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1440px,
  "2xl": 1536px,
);

$primary-color: #f6e9d9;
$secondary-color: #4f2206;
$background-color: #f4f4f4;
$text-color: #333;

// 📏 Розміри
$border-radius: 8px;
$spacing: 16px;
