@use './_global' as *; // Use `as *` to expose the styles from _global directly

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додайте стилі Leaflet */
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  margin-left: -24px;
  height: 75vh;
  width: calc(100% + 48px);

  /* lg breakpoint: min-width 1024px */
  @media (min-width: 1024px) {
    border-radius: 20px;
    height: 60vh;
    margin-left: 0;
    width: 100%;
  }
}

body {
  @apply bg-white;

  /* lg breakpoint: min-width 1024px */
  @media (min-width: 1024px) {
    background-image: url('/background/mainBGtriangles.png');
    background-repeat: no-repeat;
    background-size: 100% auto;      // робить картинку по ширині
    background-position: center 1020px; // зміщує вниз на 1020px
  }
}
