@use './_global' as *; // Use `as *` to expose the styles from _global directly

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додайте стилі Leaflet */
@import 'leaflet/dist/leaflet.css';

/* Переконайтеся, що карта має розмір */
.leaflet-container {
  height: 100vh; /* Або будь-яка інша висота */
  width: 100%;
}

body {
  @apply bg-white;
}