@use './_global' as *; // Use `as *` to expose the styles from _global directly

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додайте стилі Leaflet */
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  height: 60vh;
  width: 100%;
  border-radius: 20px;
}

.home-desktop-bg {
  background-image: url('/background/mainBGtriangles.png');
  background-repeat: no-repeat;
  background-size: cover;

  // Тільки десктопи
  @media (max-width: 1023px) {
    background-image: none;
  }
}

// .mainpage_wrapper {
//   background-image: url('/background/mainBGtriangles.png');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: absolute;
// }



body {
  @apply bg-white;
}