@use "sass:color";

.buttonBase {
  z-index: 0;
  height: 48px;
  min-width: 40px;
  padding: 0 24px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

// Accent
.accent {
  $bg: #256BA7; // main-blue
  background-color: $bg;
  color: white;

  &:hover {
    background-color: color.scale($bg, $lightness: -10%);
  }

  &:active {
    background-color: color.scale($bg, $lightness: -20%);
  }

  &:disabled {
    background-color: #999999; // grey
    cursor: not-allowed;
  }
}

.accent-alt {
  $text: #256BA7;
  background-color: white;
  color: $text;

  &:hover {
    color: color.scale($text, $lightness: -10%);
  }

  &:active {
    color: color.scale($text, $lightness: -20%);
  }

  &:disabled {
    color: white;
    background-color: #999999;
    cursor: not-allowed;
  }
}

// Primary
.primary {
  $bg: #E91651; // main-amarant
  background-color: $bg;
  color: white;

  &:hover {
    background-color: color.scale($bg, $lightness: -10%);
  }

  &:active {
    background-color: color.scale($bg, $lightness: -20%);
  }

  &:disabled {
    background-color: #999999;
    cursor: not-allowed;
  }
}

// Secondary
.secondary {
  $text: #256BA7;
  background: none;
  color: $text;
  border: 1px solid $text;

  &:hover {
    color: color.scale($text, $lightness: -20%);
    border-color: color.scale($text, $lightness: -20%);
  }

  &:active {
    color: color.scale($text, $lightness: -20%);
    border-color: color.scale($text, $lightness: -20%);
  }

  &:disabled {
    border-color: #999999;
    color: #999999;
    cursor: not-allowed;
  }
}

.secondary-alt{
  background: none;
  color: white;
  border: 1px solid white;

  &:hover {
    color: color.scale(white, $lightness: -10%);
    border-color: color.scale(white, $lightness: -10%);
  }

  &:active {
    color: color.scale(white, $lightness: -20%);
    border-color: color.scale(white, $lightness: -20%);
  }

  &:disabled {
    border-color: #999999;
    color: #999999;
    cursor: not-allowed;
  }
}

// Tertiary
.tertiary{
  background: none;
  color: #256BA7;

  &:hover,
  &:active {
    color: #E91651;
    text-decoration: underline;
  }

  &:disabled {
    color: #999999;
    cursor: not-allowed;
  }
}

.tertiary-alt{
  background: none;
  color: white;

  &:hover,
  &:active {
    color: color.scale(white, $lightness: -20%);
    text-decoration: underline;
  }

  &:disabled {
    color: #999999;
    cursor: not-allowed;
    text-decoration: none;
  }
}

.iconOnly {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-sm {
  width: 32px;
  height: 32px;
}

.size-md {
  width: 48px;
  height: 48px;
}

.size-lg {
  width: 64px;
  height: 64px;
}
